@model TM.Models.ViewModels.TourSurchargeViewModel

@{
    ViewData["Title"] = "Sửa thông tin khách hàng";
}

<div class="container">
    <h2>Sửa thông tin khách hàng @Model.TourName</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="CreateSurcharge">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TourId" />
                <input type="hidden" asp-for="TourName" />

                <div class="form-group mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Thêm" class="btn btn-primary" />
                    <a asp-action="Details" asp-route-id="@Model.TourId" class="btn btn-secondary">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}